.bet{
    margin-bottom: 0.5rem;
}
.cards{
    /*position: relative;*/

    /*border-radius: 10px;*/

    /*width: 40vh;*/
    /*transform-style: preserve-3d;*/
    /*position: absolute;*/
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    will-change: transform, opacity;
}

